body{
    margin: 0;
    padding: 0;
}

.font-montserrat{
    font-family: 'Montserrat', sans-serif;
}

.font-poppins{
    font-family: 'Poppins', sans-serif;
}

#flex-header{
    display: flex;
    justify-content: right;
    align-items: center;
}

.containers-padding{
    padding: 40px 30px;
}

.col-8 .search-text{
    color: #90A0B7;
    font-size: 12px;
    line-height: 15px;
    margin-left: 10px;
}

.col-4 img{
    padding: 5px 15px;
}

.col-4 .bell-dot{
    height: 8px;
    width: 8px;
    background-color: #F7685B;
    border-radius: 50%;
    position: relative;
    bottom: 8px;
    right: 22px;
}

.col-4 .avatar-box img{
    border-radius: 50%;
    border: solid 2px orange;
    padding: 1px;
}

.row .col-8 .tasks-info{
    font-size: 36px;
    line-height: 54px;
    font-weight: 700;
}

.row .col-8 .tasks-info span .pink-task-text{
    color: pink;
}

.row .col-8 .tasks-info #add-button{
    background-color: #884CB2;
    border-radius: 10px;
    color: white;
    padding: 8px 35px;
    font-size: 12px;
    line-height: 9px;
    margin-left: 20px;
}